@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.root{
    background-color: var(--lead);
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(32, 21, 104);
    width: 70%;
    height: 95%;
    margin: auto;
    margin-top:8%;
    border-width: 5px;
    border-color: rgb(56, 49, 39);
    color: rgb(235, 235, 223);
    text-align: start;
    padding: auto;
    padding-bottom: 30px;
}

h1{
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    border-width: 5px;
    border-color: black;
}

.countervalue{
    font-size: 44px;
    background-color: rgb(124, 131, 133);
    border-width: 20px;
    border-radius: 55px;
    padding: 20px;
    width: 50px;
    text-align: center;
    margin-top: 0px;
    color: black;
    font-weight: bold;
}

.btn{
    display: flex;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-width: 0px;
    margin: 5px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn1{
    background-color: rgb(23, 107, 41);
}
.btn2{
    background-color: black;
}
.btn3{
    background-color: crimson;
}

@media screen and (max-width: 576px){
    .container{
        width: 95%;
    }
    .btn{
        font-size: 14px;
        padding: 5px;
    }
}